@mixin btn-temp($color: $color-1, $bg-color: $color-3) {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
    color: $color;
    background: $bg-color;
    border-radius: 40px;
    cursor: pointer;
}

@mixin input-temp {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    margin: 0 5px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    background-color: $color-6;
}