.product {
    .wrap {
        .top {
            margin-top: 45px;
            margin-bottom: 25px;

            .product-name {
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .articul {
                color: $color-4;
            }
        }
    }

    .product-content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;

        .product-gallery {
            flex: 1 0 30%;
            width: 100%;

            .swiper-product-img {
                width: 100%;
                height: 465px;
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .swiper-slide {
                    width: 350px !important;
                }
            }

            .swiper-product-thumbs {
                margin-top: 20px;
                
                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 115px;
                    border-radius: 10px;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .product-info {
            flex: 1 0 65%;
            

            .product-nav {
                position: relative;
                max-width: 116px;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    width: 100%;
                    height: 2px;
                    background: $color-3;
                    border-radius: 45px;
                }
            }

            .description {
                article {
                    margin-top: 40px;
                    color: $color-4;
                }
            }

            .product-actions {
                margin-top: 25px;

                .subtitle {
                    margin-bottom: 10px;
                }

                .product-content-price {
                    display: flex;
                    margin-top: 15px;
        
                    .product-price, .product-wholesale-price {
                        display: flex;
                        align-items: flex-end;
                        text-align: center;
                        font-weight: bold;
        
                        small {
                            font-weight: normal;
                        }
                    }
        
                    .product-wholesale-price {
                        margin-left: 30px;
                        font-size: 24px;
                        color: $color-5;

                        small {
                            margin-left: 10px;
                            font-size: 14px;
                        }
                    }
                }

                .quantity_control {
                    display: flex;

                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        height: 32px;
                        background-color: $color-7;
                        border-radius: 1px;
                        cursor: pointer;
                    }
    
                    .quantity__value {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                    }
                }
            }

            .product-control {
                margin-top: 20px;
                margin-bottom: 60px;

                .in-basket {
                    max-width: 160px;
                    width: 100%;
                    height: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    @include btn-temp;
        
                    &:hover {
                        color: $color-3;
                        background: $color-1;
                        border: 1px solid $color-3;
                    }
                }
            }

            .reviews {
                .review-content {
                    .review {
                        display: block;
                        margin-top: 40px;

                        .author {
                            font-weight: 700;

                            .date {
                                font-weight: normal;
                            }
                        }
                        .text {
                            margin-top: 15px;
                            color: $color-4;
                        }
                    }
                }

                .pagination {
                    margin-top: 20px;
                }
            }
        }

        .form-wrap {
            margin-top: 40px;

            .product-nav {
                max-width: 175px;
                margin-bottom: 30px;
            }

            .input-group {
                display: flex;
                margin-bottom: 15px;

                input {
                    max-width: 265px;
                    @include input-temp;

                    &:first-of-type {
                        margin-left: 0;
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }
                }

                textarea {
                    max-width: 380px;
                    @include input-temp;
                    height: 110px;
                    padding-top: 15px;
                    margin-left: 0;
                    resize: none;
                }

                .rating-wrap {
                    display: flex;
                    flex-direction: column;
                    margin-left: 15px;

                    .star-ratings-css {
                        position: relative;
                        display: inline-block;
                        font-size: 24px;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        cursor: pointer;
    
                        .star-ratings-css-top {
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: flex;
                            width: 0%;
                            padding: 0;
                            color: $color-8;
                            overflow: hidden;
                            z-index: 1;
                        }
    
                        .star-ratings-css-bottom {
                            display: flex;
                            padding: 0;
                            color: $color-7;
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .review_submit {
                max-width: 160px;
                width: 100%;
                height: 34px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                @include btn-temp;
            }
        }
    }
}