.header {
    .navbar {
        &-brand {
            font-size: 1.5rem;
            color: $main-color;

            strong {
                color: $main-hover-color;
            }
        }

        .nav-list {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 65px;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            opacity: 0;
            background-color: $black;
            transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transform: scale(0);
    
            .nav-item {
                margin: 0 15px;
                transition: all 400ms 510ms;
                opacity: 0;

                .nav-link {
                    position: relative;
                    font-weight: 500;
                    color: $main-color;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        width: 0;
                        height: 1px;
                        background-color: $main-hover-color;
                        transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    }

                    &:hover, &.active {
                        color: $main-hover-color;
                        &::after {
                            width: 100%;
                        }
                    }
                }
    
                &:last-of-type {
                    margin-right: 0;
                }
    
                &:nth-child(odd) {
                    transform: translateX(30%);
                }
                &:nth-child(even) {
                    transform: translateX(-30%);
                }
                &:last-child {
                    transform: none;
                }
            }
        }
    }
}