#portfolioTab {
    margin-top: 30px;
    justify-content: center;
    border-bottom: none;

    .nav-item {
        margin: 0 10px;
    }

    .nav-link {
        max-width: 180px;
        width: 100%;
        height: 35px;
        font-size: 14px;
        font-weight: 500;
        color: $black;
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0 4px 11px rgba($color: $shadow-color, $alpha: .11);

        &.active {
            color: $white;
            background-color: $main-hover-color;
            box-shadow: none;
        }
    }
}

#portfolioTabContent {
    margin-top: 40px;
    .card {
        background-color: $main-hover-color;
        border: 1px solid $main-background;
        box-shadow: 0 4px 11px rgba($color: $shadow-color, $alpha: .11);

        .card-image {
            width: 100%;
            height: 210px;
            background-color: $gray-300;
            border-radius: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .card-body {
            margin-top: 10px;
            padding: 15px 20px;
            background-color: $white;
            border-radius: 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            .tag {
                color: $gray-700;
                font-size: 14px;
            }

            .card-title {
                font-size: 24px;
                font-weight: 600;
                line-height: 30px;
            }
        }
    }
}