.signin {
    margin-left: 0 !important;
    overflow: hidden !important;

    form {
        max-width: 410px;
        width: 100%;
        margin: 0 auto;

        input {
            border-radius: 16px;
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            width: 100%;
            height: 50px;
            font-weight: bold;
            font-size: 14px;
            color: $white;
            background-color: $hover-color;
            border: 1px solid $hover-color;
            border-radius: 12px;

            &:hover {
                background-color: $btn-hover-color;
            }
        }
    }

    .card {
        height: 100%;
        background-image: linear-gradient(to bottom, $profile-background, $btn-hover-color);
        border-radius: 0;
        border-bottom-left-radius: 200px;
    }

    .navbar-brand {
        .text {
            color: $white !important;
            font-size: 48px !important;
        }
    }

    .social-btns {
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            color: $white;
            border: 1px solid $white;
            border-radius: 50% !important;

            &:hover {
                color: $btn-hover-color;
                background-color: $white;
            }
        }
    }
}