.table-wrap {
    .table-header {
        margin-bottom: 25px;

        .showing-form {
            display: flex;
            align-items: center;
            height: 35px;
            // color: $gray-600;

            select {
                max-width: 70px;
                width: 100%;
                height: 100%;
                text-align: center;
            }
        }

        .search-form {
            position: relative;
            max-width: 460px;
            width: 100%;
            height: 40px;
            padding-left: 30px;

            input {
                width: 100%;
                height: 100%;
                border-radius: 12px;

                &::placeholder {
                    // color: $gray-600;
                }
            }

            .icon {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
            }
        }

        .btn-add {
            display: flex;
            justify-content: center;
            align-items: center;
            width: max-content;
            height: 40px;
            font-weight: bold;
            font-size: 14px;
            color: $hover-color;
            border: 1px solid $hover-color;
            border-radius: 12px;

            .icon {
                padding-right: 8px;
                font-size: 18px;
            }

            &:hover {
                color: $white;
                background-color: $hover-color;
            }
        }
    }

    .table-responsive {
        // padding-bottom: 25px;

        .dt-empty {
            text-align: center !important;
            vertical-align: middle !important;
        }
    }

    .table-footer {
        position: relative;
        // padding-top: 25px;
        
        &::before {
            content: '';
            display: none;
            position: absolute;
            top: 0;
            width: 100%;
            height: 1px;
            background-color: rgba($color: $gray-400, $alpha: .5);
        }
    }
}

.table {
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        font-size: 20px;
        border-radius: 50%;
    }

    thead {
        tr {
            th {
                font-size: 12px;
                border: none !important;
                background-color: $gray-100;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $gray-200;

            td {
                height: 75px;
                vertical-align: middle;
                text-align: left !important;
                color: $main-color;
                border: none !important;
    
                &:first-of-type {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }
    
                &:last-of-type {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
            }

            &:first-of-type {
                border-top: 1px solid $gray-200;
            }
        }

        &::before {
            content: ".";
            display: block;
            color: $white;
            line-height: 15px;
        }
    }

    &.table-dashboard {
        tbody {
            tr {
                td {
                    height: auto;
                }
            }
        }
    }
}