$main-background: #F4F7FE;
$main-color: #2B3674;
$text-color: #A3AED0;
$hover-color: #4318FF;
$btn-hover-color: #3311db;
$breadcrumb-color: #707EAE;
$profile-background: #7551ff;
$pagination-border-color: #d3d3d3;