body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

p, dl * {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}