.header {
    .navbar {
        .nav-list {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 65px;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            opacity: 0;
            background-color: $black;
            transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transform: scale(0);
    
            .nav-item {
                margin: 0 15px;
                transition: all 400ms 510ms;
                opacity: 0;

                .nav-link {
                    font-weight: 500;
                    color: $main-color;

                    &.active {
                        color: $main-hover-color;
                        border-bottom: 1px solid $main-hover-color;
                    }
                }
    
                &:last-of-type {
                    margin-right: 0;
                }
    
                &:nth-child(odd) {
                    transform: translateX(30%);
                }
                &:nth-child(even) {
                    transform: translateX(-30%);
                }
                &:last-child {
                    transform: none;
                }
            }
        }
    }
}