$main-background: #F4F7FE;
$main-color: #2B3674;
$dark-main-background: #0b1437;
$dark-main-color: #111c44;
$dark-avatar-background: #1b254b;
$text-color: #A3AED0;
$hover-color: #4318FF;
$btn-hover-color: #3311db;
$breadcrumb-color: #707EAE;
$profile-background: #7551ff;
$pagination-border-color: #d3d3d3;